<section class="content content-area customer account">

  {% include 'breadcrumbs' %}

  <div class="page-title">
    <span class="label">Account</span>
    <a class="header-link" href="/account/logout">Sign out</a>
  </div>

  <div class="content-wrap clearfix">
    <div class="account-info">
      <span class="name">{{ customer.name }}</span>
      <span class="email"><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></span>

      {% if customer.default_address != nil %}
        <div class="address-wrap">
          <span class="address">{{ customer.default_address.street }}</span>
          <span class="city">
            {{ customer.default_address.city }}{% if customer.default_address.province.size > 0 %}, {{ customer.default_address.province }}{% endif %}</span>
          <span class="country">{{ customer.default_address.country }}{% if customer.default_address.zip.size > 0 %}, {{ customer.default_address.zip }}{% endif %}</span>
        </div>
      {% endif %}

      <a class="view-addresses" href="/account/addresses">View addresses ({{ customer.addresses_count }})</a>

    </div>

    <div class="order-history">
      
      {% if customer.orders.size > 0 %}
        <table class="orders table">
          <thead>
            <tr>
              <th class="first">Order</th>
              <th>Payment</th>
              <th>Fulfillment</th>
              <th class="last">Total</th>
            </tr>
          </thead>
          
          <tbody>
          {% for order in customer.orders %}
            <tr class="{% include 'for-looper' %} {% if order.cancelled %}cancelled_order{% endif %}">
              <td class="order-number first">{{ order.name | link_to: order.customer_url }} <span class="date">- {{ order.created_at | date: "%b %d, %Y" }}</span></td>
              <td class="payment-status {{ order.financial_status }}">{{ order.financial_status | capitalize }}</td>
              <td class="fulfillment-status {{ order.fulfillment_status }}">{{ order.fulfillment_status | capitalize }}</td>
              <td class="total last">{{ order.total_price | money }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="empty">You haven't placed any orders yet.</p>
      {% endif %}

    </div>
  </div>
  
  
</section>