<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 ie6"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10 ie9"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <!-- 
  ==========================================================================
     Atlantic v1.1.0
     Updated: 19 June, 2013
     Website: http://pixelunion.net
     Themes: http://pixelunion.net/themes
  ==========================================================================
  -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if template == "index" %} {{ shop.name }} {% else %} {{ page_title }} &ndash; {{ shop.name }} {% endif %}</title>
  
  {% if page_description %}
    <meta name="description" content="{{ page_description }}">
  {% elsif template == 'index' and shop.description != '' %}
    <meta name="description" content="{{ shop.description }}" />
  {% endif %}

  <meta name="viewport" content="width=device-width, maximum-scale=1.0">
  <link href="{{ 'favicon.ico' | asset_url }}" rel="shortcut icon" />

  <!-- Fonts
  ///////////////////////////////////////// -->

  {% assign font = "'PT Serif', 'Times New Roman', Times, serif" %}
  {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
    <link href='//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  {% endif %}

  {% assign font = "'Raleway', sans-serif" %}
  {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
    <link href='//fonts.googleapis.com/css?family=Raleway:400,700,600' rel='stylesheet' type='text/css'>
  {% endif %}

  {% assign font = "'Open Sans', sans-serif" %}
  {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,700,600' rel='stylesheet' type='text/css'>
  {% endif %}

  {% assign font = "'Source Sans Pro', sans-serif" %}
  {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
  {% endif %}

  {% assign font = "'Arvo', serif" %}
  {% if settings.body-font == font or settings.main-title-font == font or settings.secondary-header-font == font or settings.meta-font == font %}
  <link href='//fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  {% endif %}


  <!-- Theme CSS
  ///////////////////////////////////////// -->
  {{ 'style.css' | asset_url | stylesheet_tag }}


  <!-- Third party JS Assets
  ///////////////////////////////////////// -->
  {{ 'modernizr-2.6.2.min.js' | asset_url | script_tag }}
  {{ 'jquery-1.9.min.js' | asset_url | script_tag }}
  
  {{ 'pixelunion-options-select.js' | asset_url | script_tag }}

  {% if template contains 'customers' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
  {% endif %}


  <!-- Store object
  ///////////////////////////////////////// -->
  <script type="text/javascript">
    Settings = {}
    Settings.storeName              = '{{ shop.name }}';
    Settings.logo                   = {{ settings.use-logo }};
    Settings.products               = new Array();
    Settings.currency               = '{{ shop.currency }}';
    Settings.currencyFormat         = "{{ shop.money_with_currency_format }}";
    Settings.shippingCalculator     = '{{ settings.shipping_calculator }}';
    Settings.productImageBorders    = {{ settings.product-image-borders }};
    Settings.slideshowPagination    = {{ settings.show-slideshow-pagination }};
    Settings.fullsizeProductViewer  = {{ settings.display-fullsize-product-viewer }};
  </script>

  {{ content_for_header }}

</head>

{% assign showSectionHeaders = false %}
{% if settings.show-section-headers %} {% assign showSectionHeaders = true %} {% endif %}

<body class="{% if template contains 'contact' %}template-contact{% else %}template-{{ template }}{% endif %} {% unless showSectionHeaders %}disable-headers{% endunless %} {% if settings.meta-font == "'Open Sans' sans-serif" %}font-open-sans{% endif %} {% if settings.main-title-uppercase %}uppercase{% endif %}">

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=187795038002910";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <header class="main-header-wrap">

    <section class="main-header content-area">

      <!-- Action links
      ============================================= -->
      <div class="action-links clearfix">

        <h1 class="store-title">
          {% if settings.use-logo %}
            <a href="/"><img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.description | escape }}"></a>
          {% else %}
            <a href="/">{{ shop.name }}</a>
          {% endif %}
        </h1>

        <div class="tools">
          <a class="search" href="#"><span class="icon">s</span><label>Search</label></a>

          <div class="mini-cart-wrap" href="#">
            <span class="icon">c</span><label><span class="item-count">{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'item', 'items' }}</label>
            <div class="mini-cart {% if shop.customer_accounts_enabled %}account-enabled{% endif %} {% if cart.items.size == 0 %}empty-cart{% endif %}">
              <div class="arrow"></div>
              <div class="mini-cart-items-wrap">
                
                  <p class="no-items">Your cart is currently empty!</p>

                  {% for item in cart.items %}
                  <div id="item-{{ item.id }}" class="item clearfix">
                    <div class="image-wrap">
                      <img src="{{ item.product.featured_image | product_img_url: 'small' }}">
                      <a class="{% if settings.product-image-borders %}overlay{% endif %}" href="{{ item.product.url }}"></a>
                    </div>
                    <div class="details">
                      <p class="brand">{{ item.vendor | link_to_vendor }}</p>
                      <p class="title"><a  href="{{ item.product.url }}">{{ item.product.title }}</a><span class="quantity">× <span class="count">{{ item.quantity }}</span></span></p>
                      <p class="price">{{ item.line_price | money }}</p>
                      <p class="variant">{{ item.variant.title }}</p>
                    </div>
                  </div>
                  {% endfor %}
              </div>
              <div class="options clearfix">
                <a class="action-button view-cart desaturated" href="/cart">View cart</a>
                <a class="action-button checkout" href="/checkout">Checkout</a>
              </div>
            </div>
          </div>

          {% if shop.customer_accounts_enabled %}

            {% if customer %}
              <a class="account-options" href="/account"><span class="icon">a</span><label>Account</label></a>
            {% else %}
              <a class="account-options" href="/account/login">
                <span class="icon">a</span>Login</span>
              </a>
            {% endif %}
          
          {% endif %}
        </div>

      </div>

      <div class="search-wrap full">
        <form action="/search" method="post">
          <input class="search-input" name="q" type="text" placeholder="Search" value="">
          <span class="icon">s</span>
        </form>
      </div>


      <!-- Compact navigation
      ============================================= -->
      <nav class="compact {% unless template == 'index' and settings.show-slideshow == true %}bordered{% endunless %} {{ settings.mobile-navigation-colour-scheme }} {% if shop.customer_accounts_enabled %}account-enabled{% endif %}">
        <ul>
          <li class="nav-item dropdown first"> 
            <span class="border"></span>
            <div><span class="icon">n</span></div>
          </li>{% if shop.customer_accounts_enabled %}<li class="nav-item account">
            <a href="/account"><span class="icon">a</span></a>
          </li>{% endif %}<li class="nav-item cart">
            <a href="/cart">
              <span class="icon">c{% if cart.item_count > 0 %}<div class="count"><span>{{ cart.item_count }}</span></div>{% endif %}</span>
            </a>
          </li><li class="nav-item last search">
            <div><span class="icon">s</span></div>
          </li><li class="search-outer-wrap">
            <div class="search-wrap">
              <form action="/search" method="post">
                <input class="search-input" name="q" type="text" placeholder="Search" value="">
                <span class="icon">s</span>
              </form>
            </div>
          </li>
        </ul>
      </nav>


      <!-- Full navigation
      ============================================= -->
      <nav class="full {% unless template == 'index' and settings.show-slideshow == true %}bordered{% endunless %} {{ settings.mobile-navigation-colour-scheme }}">

        <!-- Main nav
        ++++++++++++++++++++++++++++ -->
        <ul>

          {% for link in linklists.main-menu.links %}<li class="nav-item {% include 'for-looper' %} {% if link.title == 'Catalog' and settings.enable-mega-nav %}has-mega-nav{% endif %} {% capture link_handle %}{{ link.title | handle }}{% endcapture %}  {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %}dropdown{% endif %}">

            {% capture link_title %}
              {% if link.title == 'Catalog' and settings.catalog-label-override.size > 0 %}
                {{ settings.catalog-label-override }}
              {% else %}
                {{ link.title }}
              {% endif %}
            {% endcapture %}

            {% assign meganav = false %}
            {% if link.title == 'Catalog' and settings.enable-mega-nav %} {% assign meganav = true %} {% endif %}

            {% assign dropdown = false %}
            {% if meganav == false and linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign dropdown = true %} {% endif %}

              {% if dropdown or meganav %}<span class="border"></span>{% endif %}
              <a class="label" href="{{ link.url }}">{{ link_title }}{% if dropdown or meganav %}<span class="icon"><</span>{% endif %}</a>

              {% if dropdown %}

                <!-- Simple dropdown: primary
                ++++++++++++++++++++++++++++ -->
                <ul class="dropdown-wrap primary">
                  {% for link_primary in linklists[link_handle].links %}

                    {% capture link_handle_primary %}{{ link_primary.title | handle }}{% endcapture %}
                    {% assign dropdown = false %}
                    {% if linklists[link_handle_primary] and linklists[link_handle_primary].links.size > 0 %} {% assign dropdown = true %} {% endif %}

                    <li class="dropdown-item {% include 'for-looper' %}">
                      <a href="{{ link_primary.url }}"><span class="label">{{ link_primary.title }}</span>{% if dropdown %}<span class="icon">></span>{% endif %}</a>

                      {% if dropdown %}

                        <!-- Simple dropdown: secondary
                        ++++++++++++++++++++++++++++ -->
                        <ul class="dropdown-wrap child secondary right">
                          {% for link_secondary in linklists[link_handle_primary].links %}

                            {% capture link_handle_secondary %}{{ link_secondary.title | handle }}{% endcapture %}
                            {% assign dropdown = false %}
                            {% if linklists[link_handle_secondary] and linklists[link_handle_secondary].links.size > 0 %} {% assign dropdown = true %} {% endif %}

                            <li class="dropdown-item {% include 'for-looper' %}">
                              <a href="{{ link_secondary.url }}"><span class="label">{{ link_secondary.title }}</span>{% if dropdown %}<span class="icon">></span>{% endif %}</a>

                              {% if dropdown %}

                                <!-- Simple dropdown: tertiary
                                ++++++++++++++++++++++++++++ -->
                                <ul class="dropdown-wrap child tertiary right">
                                  {% for link_tertiary in linklists[link_handle_secondary].links %}
                                    <li class="dropdown-item {% include 'for-looper' %}"><a href="{{ link_tertiary.url }}"><span class="label">{{ link_tertiary.title }}</span></a></li>
                                  {% endfor %}
                                </ul>
                                <!-- ++++++++++++++++++++++++++++ -->

                              {% endif %}
                            </li>

                          {% endfor %}
                        </ul>
                        <!-- ++++++++++++++++++++++++++++ -->

                      {% endif %}
                    </li>

                  {% endfor %}
                </ul>
                <!-- ++++++++++++++++++++++++++++ -->

              {% endif %}
          </li>{% endfor %}
        </ul>
        <!-- ++++++++++++++++++++++++++++ -->

      </nav>
    </section>

    <!-- Mobile navigation
    ============================================= -->
    <section class="mobile-dropdown {{ settings.mobile-navigation-colour-scheme }}">
      <ul class="list primary">
        {% for link in linklists.main-menu.links %}

          {% capture link_handle %}{{ link.title | handle }}{% endcapture %}

          {% capture link_title %}
            {% if link.title == 'Catalog' and settings.catalog-label-override.size > 0 %}
              {{ settings.catalog-label-override }}
            {% else %}
              {{ link.title }}
            {% endif %}
          {% endcapture %}

          {% assign meganav = false %}
          {% if link.title == 'Catalog' and settings.enable-mega-nav %} {% assign meganav = true %} {% endif %}

          {% assign dropdown = false %}
          {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign dropdown = true %} {% endif %}

          <li class="list-item {% include 'for-looper' %} {% if meganav or dropdown %}dropdown{% endif %}">
            <a href="{{ link.url }}">{{ link_title }}{% if meganav or dropdown %}<span class="icon"></span>{% endif %}</a>

            {% if meganav %}

              <ul class="list secondary">

                {% if linklists[settings.meganav-list-1].title.size > 0 %}
                  <li class="list-item dropdown">
                    <a href="{{ linklists[settings.meganav-list-1].url }}">{{ linklists[settings.meganav-list-1].title }}<span class="icon"></span></a>
                    <ul class="list tertiary">
                      {% for link_tertiary in linklists[settings.meganav-list-1].links %}

                        {% assign dropdown = false %}
                        {% capture link_handle_tertiary %}{{ link_tertiary.title | handle }}{% endcapture %}
                        {% if linklists[link_handle_tertiary] and linklists[link_handle_tertiary].links.size > 0 %}{% assign dropdown = true %}{% endif %}
                        
                        <li class="list-item {% if dropdown %}dropdown{% endif %}">
                          <a href="{{ link_tertiary.url }}">{{ link_tertiary.title }}{% if dropdown %}<span class="icon"></span>{% endif %}</a>
                          
                          {% if dropdown %}
                          <ul class="list quaternary">
                            {% for link_quaternary in linklists[link_handle_tertiary].links %}
                              <li class="list-item">
                                <a href="{{ link_quaternary.url }}">{{ link_quaternary.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                          {% endif %}

                        </li>

                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}

                {% if linklists[settings.meganav-list-2].title.size > 0 %}
                  <li class="list-item dropdown">
                    <a href="{{ linklists[settings.meganav-list-2].url }}">{{ linklists[settings.meganav-list-2].title }}<span class="icon"></span></a>
                    <ul class="list tertiary">
                      {% for link_tertiary in linklists[settings.meganav-list-2].links %}

                        {% assign dropdown = false %}
                        {% capture link_handle_tertiary %}{{ link_tertiary.title | handle }}{% endcapture %}
                        {% if linklists[link_handle_tertiary] and linklists[link_handle_tertiary].links.size > 0 %}{% assign dropdown = true %}{% endif %}
                        
                        <li class="list-item {% if dropdown %}dropdown{% endif %}">
                          <a href="{{ link_tertiary.url }}">{{ link_tertiary.title }}{% if dropdown %}<span class="icon"></span>{% endif %}</a>
                          
                          {% if dropdown %}
                          <ul class="list quaternary">
                            {% for link_quaternary in linklists[link_handle_tertiary].links %}
                              <li class="list-item">
                                <a href="{{ link_quaternary.url }}">{{ link_quaternary.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                          {% endif %}

                        </li>

                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}

                {% if linklists[settings.meganav-list-3].title.size > 0 %}
                  <li class="list-item dropdown">
                    <a href="{{ linklists[settings.meganav-list-3].url }}">{{ linklists[settings.meganav-list-3].title }}{% if dropdown %}<span class="icon"></span>{% endif %}</a>
                    <ul class="list tertiary">
                      {% for link_tertiary in linklists[settings.meganav-list-3].links %}

                        {% assign dropdown = false %}
                        {% capture link_handle_tertiary %}{{ link_tertiary.title | handle }}{% endcapture %}
                        {% if linklists[link_handle_tertiary] and linklists[link_handle_tertiary].links.size > 0 %}{% assign dropdown = true %}{% endif %}
                        
                        <li class="list-item {% if dropdown %}dropdown{% endif %}">
                          <a href="{{ link_tertiary.url }}">{{ link_tertiary.title }}{% if dropdown %}<span class="icon"></span>{% endif %}</a>
                          
                          {% if dropdown %}
                          <ul class="list quaternary">
                            {% for link_quaternary in linklists[link_handle_tertiary].links %}
                              <li class="list-item">
                                <a href="{{ link_quaternary.url }}">{{ link_quaternary.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                          {% endif %}

                        </li>

                      {% endfor %}
                    </ul>
                  </li>
                {% endif %}

              </ul>

            {% endif %}

            {% if dropdown %}

              <ul class="list secondary">
                {% for link_secondary in linklists[link_handle].links %}

                  {% capture link_handle_secondary %}{{ link_secondary.title | handle }}{% endcapture %}
                  {% assign dropdown = false %}
                  {% if linklists[link_handle_secondary] and linklists[link_handle_secondary].links.size > 0 %} {% assign dropdown = true %} {% endif %}

                  <li class="list-item {% if dropdown %}dropdown{% endif %}">
                    <a href="{{ link_secondary.url }}">{{ link_secondary.title }}{% if dropdown %}<span class="icon"></span>{% endif %}</a>

                    {% if dropdown %}
                      
                      <ul class="list tertiary">
                        {% for link_tertiary in linklists[link_handle_secondary].links %}

                          {% capture link_handle_tertiary %}{{ link_tertiary.title | handle }}{% endcapture %}
                          {% assign dropdown = false %}
                          {% if linklists[link_handle_tertiary] and linklists[link_handle_tertiary].links.size > 0 %} {% assign dropdown = true %} {% endif %}

                          <li class="list-item {% if dropdown %}dropdown{% endif %}">
                            <a href="{{ link_tertiary.url }}">{{ link_tertiary.title }} {% if dropdown %}<span class="icon"></span>{% endif %}</a>

                            {% if dropdown %}
                              
                              <ul class="list quaternary">
                                {% for link_quaternary in linklists[link_handle_tertiary].links %}
                                  <li class="list-item">
                                    <a href="{{ link_quaternary.url }}">{{ link_quaternary.title }}</a>
                                  </li>
                                {% endfor %}
                              </ul>

                            {% endif %}
                          </li>
                        {% endfor %}
                      </ul>

                    {% endif %}

                  </li>

                {% endfor %}
              </ul>

            {% endif %}

          </li>

        {% endfor %}
      </ul>
    </section>

    {% if settings.enable-mega-nav %}
    {% assign limit = settings.meganav-limit | times: 1 %}
    {% assign columnCount = 0 %}

    {% if linklists[settings.meganav-list-1].title.size > 0 %}
      {% assign columnCount = columnCount | plus: 1 %}
    {% endif %}

    {% if linklists[settings.meganav-list-2].title.size > 0 %}
      {% assign columnCount = columnCount | plus: 1 %}
    {% endif %}

    {% if linklists[settings.meganav-list-3].title.size > 0 %}
      {% assign columnCount = columnCount | plus: 1 %}
    {% endif %}

    <!-- Mega navigation
    ============================================= -->
    <section class="mega-nav {{ settings.mobile-navigation-colour-scheme }}">
      <div class="mega-nav-wrap content-area">

          <!-- Main mega list 
          ++++++++++++++++++++++++++++ -->
          <ul class="main-list mega-nav-list clearfix">
            {% if linklists[settings.meganav-list-1].title.size > 0 %}
            <li class="list first clearfix">

              <h2 class="label">
                {{ linklists[settings.meganav-list-1].title }}
              </h2>
              <ul data-list="{{ linklists[settings.meganav-list-1].handle }}" class="list-wrap">
                {% for link in linklists[settings.meganav-list-1].links %}

                  {% if forloop.index < limit or columnCount == 1 %}
                    {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                    {% assign hasCategory = false %}
                    {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign hasCategory = true %} {% endif %}

                    <li class="list-item {{ settings.top-level-columns }}"><a data-category="{{ link.title | handleize }}" class="item {% if hasCategory %}has-category{% endif %}" href="{{ link.url }}">{{ link.title }}{% if hasCategory %}<span class="more-icon">+</span>{% endif %}</a></li>
                  {% elsif forloop.index == limit %}
                    <li class="list-item {{ settings.top-level-columns }}"><a class="item show-more" href="#">More...</a></li>
                  {% endif %}

                {% endfor %}
              </ul>

            </li>{% endif %}{% if linklists[settings.meganav-list-2].title.size > 0 %}<li class="list clearfix">
                
                <h2 class="label">
                  {{ linklists[settings.meganav-list-2].title }}
                </h2>
                <ul data-list="{{ linklists[settings.meganav-list-2].handle }}" class="list-wrap">
                  {% for link in linklists[settings.meganav-list-2].links %}

                    {% if forloop.index < limit %}
                      {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                      {% assign hasCategory = false %}
                      {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign hasCategory = true %} {% endif %}

                      <li class="list-item {{ settings.top-level-columns }}"><a data-category="{{ link.title | handleize }}" class="item {% if hasCategory %}has-category{% endif %}" href="{{ link.url }}">{{ link.title }}{% if hasCategory %}<span class="more-icon">+</span>{% endif %}</a></li>
                    {% elsif forloop.index == limit %}
                      <li class="list-item {{ settings.top-level-columns }}"><a class="item show-more" href="#">More...</a></li>
                    {% endif %}
                    
                  {% endfor %}
                </ul>

            </li>{% endif %}{% if linklists[settings.meganav-list-3].title.size > 0 %}<li class="list clearfix">
              
              <h2 class="label">
                {{ linklists[settings.meganav-list-3].title }}
              </h2>
              <ul data-list="{{ linklists[settings.meganav-list-3].handle }}" class="list-wrap">
                {% for link in linklists[settings.meganav-list-3].links %}

                  {% if forloop.index < limit %}
                    {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                    {% assign hasCategory = false %}
                    {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign hasCategory = true %} {% endif %}

                    <li class="list-item {{ settings.top-level-columns }}"><a data-category="{{ link.title | handleize }}" class="item {% if hasCategory %}has-category{% endif %}" href="{{ link.url }}">{{ link.title }}{% if hasCategory %}<span class="more-icon">+</span>{% endif %}</a></li>
                  {% elsif forloop.index == limit %}
                    <li class="list-item {{ settings.top-level-columns }}"><a class="item show-more" href="#">More...</a></li>
                  {% endif %}

                {% endfor %}
              </ul>

            </li>{% endif %}
          </ul>

          <!-- Expanded mega list 
          ++++++++++++++++++++++++++++ -->
          <ul class="expanded-list mega-nav-list clearfix">

            {% if settings.meganav-list-1 != 'none' %}<li class="back"></li><li data-list="{{ linklists[settings.meganav-list-1].handle }}" class="list {% include 'for-looper' %} clearfix">

              <h2 class="label">{{ linklists[settings.meganav-list-1].title }}</h2>
              <ul class="list-wrap">
                {% for link in linklists[settings.meganav-list-1].links %}

                  {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                  {% assign hasCategory = false %}
                  {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign hasCategory = true %} {% endif %}

                  <li class="list-item">
                    <a data-category="{{ link.title | handleize }}" class="item {% if hasCategory %}has-category{% endif %}" href="{{ link.url }}">{{ link.title }}{% if hasCategory %}<span class="more-icon">+</span>{% endif %}</a>
                  </li>

                {% endfor %}
              </ul>

            </li>{% endif %}{% if settings.meganav-list-2 != 'none' %}<li data-list="{{ linklists[settings.meganav-list-2].handle }}" class="list {% include 'for-looper' %} clearfix">

              <h2 class="label">{{ linklists[settings.meganav-list-2].title }}</h2>
              <ul class="list-wrap">
                {% for link in linklists[settings.meganav-list-2].links %}

                  {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                  {% assign hasCategory = false %}
                  {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign hasCategory = true %} {% endif %}

                  <li class="list-item">
                    <a data-category="{{ link.title | handleize }}" class="item {% if hasCategory %}has-category{% endif %}" href="{{ link.url }}">{{ link.title }}{% if hasCategory %}<span class="more-icon">+</span>{% endif %}</a>
                  </li>

                {% endfor %}
              </ul>

            </li>{% endif %}{% if settings.meganav-list-3 != 'none' %}<li data-list="{{ linklists[settings.meganav-list-3].handle }}" class="list {% include 'for-looper' %} clearfix">

              <h2 class="label">{{ linklists[settings.meganav-list-3].title }}</h2>
              <ul class="list-wrap">
                {% for link in linklists[settings.meganav-list-3].links %}

                  {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
                  {% assign hasCategory = false %}
                  {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %} {% assign hasCategory = true %} {% endif %}

                  <li class="list-item">
                    <a data-category="{{ link.title | handleize }}" class="item {% if hasCategory %}has-category{% endif %}" href="{{ link.url }}">{{ link.title }}{% if hasCategory %}<span class="more-icon">+</span>{% endif %}</a>
                  </li>

                {% endfor %}
              </ul>

            </li>{% endif %}

          </ul>

          <!-- Category mega list 
          ++++++++++++++++++++++++++++ -->
          <ul class="category-list mega-nav-list clearfix">

            <li class="back"></li>

            {% assign first = true %}
            {% for link in linklists[settings.meganav-list-1].links %}

              {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
              {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %}
              
                <li data-category="{{ link_handle }}" class="list {% if first %}first{% endif %} clearfix">
                  <h2 class="label">{{ linklists[settings.meganav-list-1].title }} / {{ linklists[link_handle].title }}</h2>
                  <ul class="list-wrap">
                    {% for link_child in linklists[link_handle].links %}
                      <li class="list-item {% include 'for-looper' %}"><a class="item" href="{{ link_child.url }}">{{ link_child.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% assign first = false %}

              {% endif %}
            {% endfor %}

            {% assign first = true %}
            {% for link in linklists[settings.meganav-list-2].links %}

              {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
              {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %}
              
                <li data-category="{{ link_handle }}" class="list {% if first %}first{% endif %} clearfix">
                  <h2 class="label">{{ linklists[settings.meganav-list-2].title }} / {{ linklists[link_handle].title }}</h2>
                  <ul class="list-wrap">
                    {% for link_child in linklists[link_handle].links %}
                      <li class="list-item {% include 'for-looper' %}"><a class="item" href="{{ link_child.url }}">{{ link_child.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% assign first = false %}

              {% endif %}
            {% endfor %}

            {% assign first = true %}
            {% for link in linklists[settings.meganav-list-3].links %}

              {% capture link_handle %}{{ link.title | handle }}{% endcapture %}
              {% if linklists[link_handle] and linklists[link_handle].links.size > 0 %}

                <li data-category="{{ link_handle }}" class="list {% if first %}first{% endif %} clearfix">
                  <h2 class="label">{{ linklists[settings.meganav-list-3].title }} / {{ linklists[link_handle].title }}</h2>
                  <ul class="list-wrap">
                    {% for link_child in linklists[link_handle].links %}
                      <li class="list-item {% include 'for-looper' %}"><a class="item" href="{{ link_child.url }}">{{ link_child.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
                {% assign first = false %}

              {% endif %}
            {% endfor %}

          </ul>

      </div>
    </section>
    {% endif %}
  </header>

  {% unless template contains 'collections' %}
    {{ content_for_layout }}
  {% else %}
    {% include 'collections' %}
  {% endunless %}
  


  <!-- Footer
  ============================================= -->
  {% assign footerModules = 1 %}

  {% unless settings.twitter-url.size == 0 and settings.twitter-url.size == 0 and settings.twitter-url.size == 0 and settings.twitter-url.size == 0 %}
    {% assign footerModules = footerModules | plus: 1 %}
  {% endunless %}

  {% if settings.show-mailing-list %}
    {% assign footerModules = footerModules | plus: 1 %}
  {% endif %}

  <footer class="main-footer content-area" id="main-footer">

    <!-- Connect with us
    ++++++++++++++++++++++++++++ -->
    <ul class="connect clearfix module-count-{{ footerModules }}">
      <li class="contact first">
        <h2 class="title">Get in touch</h2>
        <p class="phone">Call us at {{ settings.shop-phone }}</p>
        <p class="email"><a href="mailto:{{ shop.email }}">{{ shop.email }}</a></p>
      </li>{% unless settings.twitter-url.size == 0 and settings.twitter-url.size == 0 and settings.twitter-url.size == 0 and settings.twitter-url.size == 0 %}<li class="social">
        <h2 class="title">Follow us out there</h2>
        <ul>
          {% if settings.twitter-url.size > 0 %}<li class="social-link twitter"><a href="{{ settings.twitter-url }}" target="_blank">t</a></li>{% endif %}
          {% if settings.facebook-url.size > 0 %}<li class="social-link facebook"><a href="{{ settings.facebook-url }}" target="_blank">f</a></li>{% endif %}
          {% if settings.pinterest-url.size > 0 %}<li class="social-link pinterest"><a href="{{ settings.pinterest-url }}" target="_blank">p</a></li>{% endif %}
          {% if settings.instagram-url.size > 0 %}<li class="social-link instagram"><a href="{{ settings.instagram-url }}" target="_blank">i</a></li>{% endif %}
        </ul>
      </li>{% endunless %}{% if settings.show-mailing-list %}<li class="newsletter">
        <h2 class="title">Newsletter</h2>
        <form action="{{ settings.mailchimp-action-url }}" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div class="wrap">
            <input class="email" name="EMAIL" type="email" placeholder="Email address" value="">
            <input class="submit" name="subscribe" type="submit" value="submit">
          </div>
        </form>
      </li>{% endif %}
    </ul>

    <!-- Sub-footer
    ++++++++++++++++++++++++++++ -->
    <div class="sub-footer">
      <p><a href="http://www.pixelunion.net/themes/atlantic">Atlantic Theme</a> by <a href="http://www.pixelunion.net">Pixel Union</a>. {{ powered_by_link }}.</p>
      <ul class="payment-options {% if settings.payment-icon-colour == 'light' %}light{% endif %}">
        {% if settings.show-diners-club %}<li class="diners-club"></li>{% endif %}
        {% if settings.show-maestro %}<li class="maestro"></li>{% endif %}
        {% if settings.show-interac %}<li class="interac"></li>{% endif %}
        {% if settings.show-visa %}<li class="visa"></li>{% endif %}
        {% if settings.show-mastercard %}<li class="mastercard"></li>{% endif %}
        {% if settings.show-discover %}<li class="discover"></li>{% endif %}
        {% if settings.show-dk %}<li class="dk"></li>{% endif %}
        {% if settings.show-american-express %}<li class="american-express"></li>{% endif %}
        {% if settings.show-google-wallet %}<li class="google-wallet"></li>{% endif %}
        {% if settings.show-paypal %}<li class="paypal"></li>{% endif %}
        {% if settings.show-jcb %}<li class="jcb"></li>{% endif %}
        {% if settings.show-cirrus %}<li class="cirrus"></li>{% endif %}
        {% if settings.show-stripe %}<li class="stripe"></li>{% endif %}
      </ul>
    </div>

  </footer>

  {% if template contains 'index' or template contains 'collection' or template contains 'product' or template contains '404' or template contains 'search' %}
  <section class="quick-shop">

    <div class="quick-shop-modal">
      <!-- Content dynamically added -->
    </div>

  </section>
  {% endif %}

  {% if template contains 'product' && settings.display-fullsize-product-viewer %}
  <section class="fullscreen-product-viewer">
    <div class="modal">
      <div class="modal-wrap">
        <span class="close">v</span>
        <div class="showcase {% if product.images.size == 1 %}wide{% endif %}">
          <div class="container">
            <div class="wrap">
              <img src="{{ product.featured_image | product_img_url: 'original' }}">
              <span class="overlay"></span>
            </div>
          </div>
        </div>

        {% if product.images.size > 1 %}
        <div class="pager">
          {% for image in product.images %}
            <div class="wrap thumb {% include 'for-looper' %} {% if forloop.first %}active{% endif %}">
              <img src="{{ image.src | product_img_url: 'small' }}" data-high-res-url="{{ image.src | product_img_url: 'original' }}">
              <span class="overlay"></span>
            </div>
          {% endfor %}    
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  {% endif %}

  {{ 'plugins.js' | asset_url | script_tag }}
  {{ 'site.js' | asset_url | script_tag }}

  <script>
  var selectCallbackQuickShop = function(variant, selector) {

    var id = selector.domIdPrefix.split('-')[2];
    
    if (id) {
      context = $('#quick-shop-' + id)
    } else {
      context = $('#product-area')
    }

    if (variant && variant.available == true) {
      
      
      if (id) {
        context.find('.submit').text('Add to cart')
      } else {
        context.find('.submit').attr('value', 'Add to cart')
      }

      if ( variant.compare_at_price > 0 && variant.compare_at_price > variant.price ) {
        if (Settings.currency == 'USD' || Settings.currency == 'CAD') {
          context.find('.price').html('<span class="original">' + Shopify.formatMoney(variant.compare_at_price) + '</span>' + Shopify.formatMoney(variant.price));  // update price field
        } else {
          context.find('.price').html('<span class="original">' + Shopify.formatMoney(variant.compare_at_price, "{{shop.money_with_currency_format}}") + '</span>' + Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}"));  // update price field
        }
        
      } else {
        if (Settings.currency == 'USD' || Settings.currency == 'CAD') {
          context.find('.price').html(Shopify.formatMoney(variant.price));  // update price field
        } else {
          context.find('.price').html(Shopify.formatMoney(variant.price, "{{shop.money_with_currency_format}}"));  // update price field
        }
        
      }

      if (id) {
        context.find('.submit').removeClass('disabled').text('Add to cart'); // remove unavailable class from add-to-cart button, and re-enable button
      } else {
        context.find('.submit').removeClass('disabled').attr('value', 'Add to cart'); // remove unavailable class from add-to-cart button, and re-enable button
      }
      

    } else {
      var message = variant ? "Sold Out" : "Unavailable";   
      if (id) {
        context.find('.submit').addClass('disabled').text(message)
      } else {
        context.find('.submit').addClass('disabled').attr('value', message)
      }
      
      context.find('.price').text(message);
    }
  };

  </script>
    
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>