<section class="content content-area">

  {% include 'breadcrumbs' %}

  <div class="page-title">
    <span class="label">Cart</span>
  </div>

  {% if cart.item_count > 0 %}

    <form action="/cart" method="post" id="cart-form">

      <table class="table">
        
        <thead>
          <tr class="table-header">
            <th class="first">Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th class="last"></th>
          </tr>
        </thead>

        </tbody>
          {% for item in cart.items %}
            <tr class="table-row {% include 'for-looper' %}">
              <td class="product-item first">
                  <a class="remove" href="/cart/change/{{ item.variant.id }}?quantity=0">v</a>
                  <div class="image-wrap">
                    <a class="image" href="{{ item.product.url }}">{{ item.product.featured_image |  product_img_url: 'small' | img_tag }}
                      {% if settings.product-image-borders %}<span class="outline"></span>{% endif %}
                    </a>
                  </div><div class="wrap">
                    <span class="label vendor">{{ item.vendor }}</span>
                    <span class="label title">{{ item.product.title | link_to: item.product.url }}</span>
                    <span class="label variant">{{ item.variant.title }}</span>
                  </div>
              </td>
              <td class="price">{{ item.price | money }}</td>
              <td class="quantity"><input type="text" class="field" value="{{ item.quantity }}" data-id="{{ item.variant.id }}"></td>
              <td class="total">{{ item.quantity | times: item.price | money }}</td>
              <td class="remove last"><a href="/cart/change/{{ item.variant.id }}?quantity=0">v</td>
            </tr>
          {% endfor %}
        </tbody>

      </table>

      <div class="cart-tools clearfix">
        <div class="instructions standard">
          <p>Special instructions</p>
          <textarea class="field" name="note">{{ cart.note }}</textarea>
        </div>
        <div class="totals">
          <p class="price">{{ cart.total_price | money }}</p>
          <p class="message">Excluding tax and shipping</p>
          <div class="checkout">
            <a href="/checkout" class="action-button">Checkout</a>
          </div>
        </div>
        <div class="instructions mobile">
          <p>Special instructions</p>
        </div>
      </div>

      {% include 'shipping-calculator' %}

    </form> 

  {% else %}

    <p class="empty">You don't have any items in your cart yet. <a href="{{ shop.url }}/collections/all">Continue shopping.</a></p>

  {% endif %}
  
</section>