form#signup.signup-phrases.secret-signup.subscribed-box.intro-column(
  role="form",
  action="client+http://email.fluentglobe.com/t/i/s/vjikj/", 
  method="post",
  enctype="application/x-www-form-urlencoded",
  class="hide-when-stress-free-feature-enabled",
  target="signup-iframe"
  )

  fieldset.when-unsubscribed
    p
      span(lang="en") I live in&nbsp;

      select(name="cm-fo-cbky")
        option(value="235945") Zürich
        option(value="235946") Basel
        option(value="235947") Bern
        option(value="235948") Geneve
        option(value="235949") München
        option(value="235950") Frankfurt
        option(value="235951") Amsterdam
        option(value="235952") Copenhagen
        option(value="235953") Stockholm
        option(value="235954") Wien
      | .

      span(lang="en") I would like to know <em>the secrets</em> to living here.

    p
      span(lang="en") My name is&nbsp;
        input(placeholder="Your Name", name="name", type="text", size="15", required)
      span(lang="en") and my email is&nbsp;
         input(placeholder="e-mail", name="email", type="email", size="25", required)
      | .

    p(style="text-align: right; margin: 25px 0 0 0;")
      input(type="hidden", name="from-country")
      input(type="hidden", name="native-language")

      button.btn.tinted.double-corner
        include lets-talk.html

  fieldset.when-subscribed
    p Like you, we would love to know the secrets as well.
    p Having moved 4 times in 5 years we have learned a lot, so we are compiling the <em>first step</em> to living in Switzerland.
    p We will get back to you soon with more information.
